* {
    background-color: #1F2937;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header styling */
.header {
    padding: 0 150px;
    font-weight: 900;
    margin-bottom: 50px;
    font-size: 24px;
    color: #f9faf8;
}

.header a,
.header-links a{
    text-decoration: none;
    color: white;
}

.header-links li,
.intro-info p {
    list-style: none;
    font-weight: 300;
    font-size: 18px;
    color: #e5e7eb;
}

.header,
.header-links ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

/* intro styling */

.intro {
    display: flex;
    padding: 0 150px;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.intro-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    min-width: 300px;
}

.intro-info p {
    margin-top: -25px;
    padding: 0;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro-image {
    display: flex;
    flex: 0 0 1;
    min-width: 300px;
    max-width: 500px;
}

.intro-image img{
    width: 100%;
    height: auto;
}

.intro button {
    max-width: 100px;
    height: 32px;
    background-color: #3882F6;
    color: #f9faf8;
    border-style: none;
    border-radius: 5%;
}

button a {
    color: #f9faf8;
    text-decoration: none;
    background-color: transparent;
}

/* container 1 */

.container-1,
.info-box {
    display: flex;
    flex-direction: column;
}

.container-1,
.info-box-container,
.info-box,
.container-1 h2,
.info-box p,
.info-box-img,
.sign-up-container {
    background-color: white;
}

.container-1 {
    margin-top: 100px;
    padding: 50px 0 ;
}

.info-box-container {
    display: flex;
    justify-content: center;
    padding: 32px 150px;
    gap: 50px;
    flex-wrap: wrap;
}

.container-1 h2 {
    text-align: center;
}

.info-box {
    align-items: center;
    max-width: 150px;
}

.info-box-img {
    border: solid;
    border-radius: 10%;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
}

.info-box p {
    text-align: center;
}

/* quote container */

.quote-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.quote {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    color: #1F2937;
    font-style: italic;
    max-width: 750px;
}

.quote-name {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 900;
}

.quote-align {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    gap: 32px;
}

.quote-container,
.quote-container b,
.quote-align p,
.quote-align {
    background-color: #E5E7EB;
}

/* sign up */
.sign-up-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-box,
.sign-up-text,
.call-to-action,
.call-to-action-subtext,
.sign-up-box button {
    background-color: #3882F6;
}

.sign-up-box {
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    padding: 25px 75px;
}

.call-to-action,
.call-to-action-subtext {
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}
.sign-up-text {
    display: flex;
    flex-direction: column;
}

.call-to-action {
    font-size: 12px;
    font-weight: 900;
}

.call-to-action-subtext {
    font-size: 10px;
}

.sign-up-box button {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    font-weight: 900;
    width: 75px;
    height: 25px;
    flex-shrink: 0;
}

/* footer */

.footer {
    margin-top: auto;
}

.footer p {
    color: #E5E7EB;
    font-size: 10px;
    padding: 20px 0;
    text-align: center;
}