* {
    background-color: #1F2937;
}

.header {
    padding: 0 150px;
    font-weight: 900;
}

.header a,
.header-links a{
    text-decoration: none;
    color: white;
}

.header-links li {
    list-style: none;
    font-weight: 300;
    font-size: 12px;
}

.header,
.header-links ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}